:root {
  --white: #ffffff;
  --black: #000000;
  --skyblue: #55C2FF;
  --navy-blue: #121928;
  --blue-dark: #0C111C;

  --font-family: "Gilroy-Medium", sans-serif;
  --heading-color: #ffffff;
  --section-padding: clamp(45px, 7vw, 80px) 0 clamp(45px, 7vw, 80px);
  --cstm-body-color: #B2B2B2;

  --gray-light: #B6BAC0;
  --gray-light-1: #BCBCBC;
}
